<mat-toolbar class="purple">
  <span>TechService</span>
  <a mat-button [routerLink]="'/home'">Home</a>
  <a mat-button *ngIf="getCurrentTargetSegment()==='technician'" [routerLink]="'/technicians'">Profile</a>
  <a mat-button [routerLink]="'/cases'">Cases</a>
  <a mat-button [routerLink]="'/help'">Help</a>
  <a *ngIf="!isSignedIn()" mat-button [routerLink]="'/sign-in'">Sign in</a>
  <a *ngIf="!isSignedIn()" (click)="openDialog()" mat-button>
    <div> Sign up</div>
  </a>
  <div *ngIf="isSignedIn()">
    <a mat-button (click)="getCurrentTargetSegment()==='technician'?goToProfile():getCurrentTargetSegment()==='business'?goToProfileBusiness():''">
      <div *ngIf="getCurrentTargetSegment()==='technician'">{{getCurrentUserEmail()}}</div>
      <div *ngIf="getCurrentTargetSegment()==='business'">{{getCurrentUserEmail()}}</div>
    </a>
    <a mat-button (click)="signOut()">Sign-Out</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
  <div class="footer-content">
    <h1>TechService</h1>
    <p>Copyright &copy; 2022 TechService</p>
    <ul class="social-links box">
      <li>
        <a href=""><mat-icon>facebook</mat-icon></a>
      </li>
      <li>
        <a href=""><mat-icon>whatsapp</mat-icon></a>
      </li>
      <li>
        <a href=""><mat-icon>mail</mat-icon></a>
      </li>
      <li>
        <a href=""><mat-icon>appstore</mat-icon></a>
      </li>
    </ul>
  </div>
</footer>
