<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<div mat-dialog-content class="modal-body">
  <div class="nmodal-header">
    <div class="nmodal-header-label">Notifications</div>
    <div class="nmodal-close-btn" (click)="onNoClick()">&times;</div>
  </div>
  <div class="notify-item">
    <div class="notify-label">Technician Alfredo Flores accepted your laptop repair request</div>
    <div class="remain-time">15 min ago</div>
  </div>
  <div class="notify-item">
    <div class="notify-label">Qualifies Victor Lopez for the services performed</div>
    <div class="remain-time">3 hours ago</div>
  </div>
</div>

