<div class="container">
  <div class="left">
    <img class="img-back" src="../../assets/home_business.jpg"/>
  </div>

  <div class="right">
    <div class="title">Easly find the technician you need</div>

    <div class="txt">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    </div>

    <div>
      <button mat-button [routerLink]="'/request-edit'" class="btn">Request service</button>
    </div>

  </div>


</div>
