<div class="container">
  <div class="left">
    <img class="img-back" src="../../assets/home_technician.jpeg"/>
  </div>

  <div class="right">
    <div class="titulo">Easly find clients</div>

    <div class="texto">

      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    </div>

    <div>
      <button class="boton">View request</button>
    </div>

  </div>


</div>
