.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.img-back{
  width: 100%;
  height: 120%;
}

.right{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 55px;
  padding: 10px;
}

.title{
  font-weight: 700;
  font-size: 30px;
}

.txt{
  text-align: center;
}

.btn{
  font-size: 24px;
  background-color: #C9C8F4;
  padding-left: 50px;
  padding-right: 50px;
  border: 0px;
  border-radius: 5px;
}
