<mat-card class = "request-box">
     
    <div class = "id">1</div>
    <div class = "text-container">
      <div class="title-request">Model</div>
      <div class="title-request">Brand</div>
      <div class="title-request">Address</div>
      <div>MACBOOK</div>
      <div>APPLE</div>
      <div>CALIFORNIA</div>
    </div>

    

    <div class = "button-container">
      <button class = "button" [routerLink]="'/work-active'" >Accept</button>
      <button class = "button">Reject</button>
    </div>
     
</mat-card>