.mat-spacer {
  flex: 1 1 auto;
}
*{
  list-style: none;
}
.footer-content {
  width: 1474px;
  height: 60px;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 30px;
  position: absolute;
  bottom: 0;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}
.box{
  display: flex;
  float: right;
  flex-direction: row;
  position: relative;
  bottom: 73px;
  right: 1px;
  width: 200px;
}
mat-icon{
  color: white;
  padding: 0px 5px;
}

