<mat-toolbar color="primary">
  <h1>TechService </h1>
  <div class="mat-spacer"></div>
  <!--Application Options -->
  <a mat-button [routerLink]="'/home'">Home</a>

  <!--IN PROGRESS -->
  <!--<a mat-button [routerLink]="'/technicians'">Profile</a> -->
  <!--<a mat-button [routerLink]="'/notifications'">Notifications</a> -->

  <div class="mat-spacer"></div>
  <mat-divider></mat-divider>
  <section>

    <!-- NOT LOGGED USER -->
     <div class="example-button-row">
      <button mat-raised-button>
      <mat-icon style="color: black" aria-hidden="false">login</mat-icon>
      Log In</button>
      <button style="border-color: white"  mat-raised-button color="primary">
        Sign In</button>
    </div>

    <!-- LOGGED USER-->
   <!-- <div class="example-button-row">
      <mat-icon style="color: white" aria-hidden="false">help</mat-icon>
      <button style="border-color: white"  mat-raised-button color="primary">
        <mat-icon style="color: white" aria-hidden="false">logout</mat-icon>
        Log Out</button>
    </div> -->

  </section>
  <mat-divider></mat-divider>
</mat-toolbar>

<!-- FOOTER (DONT MOVE!) -->
<footer>
  <div class="footer-content">
    <h1>TechService</h1>
    <p>Copyright &copy; 2022 TechService</p>

    <ul class="social-links box">
      <li>
        <a><mat-icon>facebook</mat-icon></a>
      </li>
      <li>
        <a><mat-icon>whatsapp</mat-icon></a>
      </li>
      <li>
        <a><mat-icon>mail</mat-icon></a>
      </li>
      <li>
        <a><mat-icon>appstore</mat-icon></a>
      </li>
    </ul>
  </div>
</footer>
<router-outlet></router-outlet>
