<div class="box-container">
    <form method="post" style="height: 100%">
      <mat-card class="box-content">
        <div class="form-content">
          <div class="form-box">
            <div>
              <div>
                <div class="input-label">Type</div>
                <mat-form-field appearance="fill">
                  <p>Lorem</p>
                </mat-form-field>
              </div>
              <div>
                <div class="input-label">Model</div>
                <mat-form-field appearance="fill">
                  Lorem
                </mat-form-field>
              </div>
              <div>
                <div class="input-label">Brand</div>
                <mat-form-field appearance="fill">
                    <p>Lorem</p>
                </mat-form-field>
              </div>
              <div>
                <div class="input-label">Address</div>
                <mat-form-field appearance="fill">
                    <p>Lorem</p>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="desc-box">
            <div>
              <div class="input-label">Problem description</div>
              <div class="desc-content">
                  <textarea class="text-area">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
              </div>
            </div>
          </div>
        </div>
        <button class="button-1" mat-button [routerLink]="'/view-request'" mat-raised-button color="primary">Finish</button>
      </mat-card>
    </form>
  </div>
  
