<mat-card class="box-container">
  <mat-card class="box-content">
    <div class="box-item">
      <mat-card class="item-content">
        <mat-card-title>Normal</mat-card-title>
        <img src="../../../assets/home1.png" class="home-img">
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mat-card-content>
      </mat-card>
      <div class="btn-container">
        <button mat-raised-button color="warn">Now</button>
      </div>
    </div>
    <div class="box-item">
      <mat-card class="item-content">
        <mat-card-title>Plus</mat-card-title>
        <img src="../../../assets/home2.png" class="home-img">
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mat-card-content>
      </mat-card>
      <div class="btn-container">
        <button mat-raised-button color="primary">Accept</button>
      </div>
    </div>
    <div class="box-item">
      <mat-card class="item-content">
        <mat-card-title>Premium</mat-card-title>
        <img src="../../../assets/home3.png" class="home-img">
        <mat-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mat-card-content>
      </mat-card>
      <div class="btn-container">
        <button mat-raised-button color="primary">Accept</button>
      </div>
    </div>
  </mat-card>
</mat-card>
